  body {
    font-family: "Roboto", sans-serif;
    second-family: "Raleway", sans-serif;
        }
      color: #434455;
    background-color: #FFFFFF;
      font-weight: 400;
      font-style: normal;
  }
  ul a {
color: #2E2F42;
list-style: non;
  }

  /*Header*/
.header {
    background: var(--white);
    border-bottom: 1px solid var(--cornflower);
        width: 1440px;
        height: 72px;
}
.header-nav {

}
.logo {
    font-family: "Raleway", sans-serif;
font-family: var(--second-family);
font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;

    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
.header-logo {
    font-family: "Raleway", sans-serif;
font-family: var(--second-family);
font-weight: 700;
    font-size: 18px;
    color: #2e2f42;

    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}
.header-list {
width: 261px;
    height: 24px;
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}
.header-item {

}
.contacts {
font-style: normal;
}
.contacts-list {
color: #2e2f42;
font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;

    /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
    }
.contacts-item-hover {
    color: #434455;

.main-section {
background: var(--navy-blue);
width: 1440px;
height: 600px;
}
.main-title {
font-family: var(--font-family);
font-weight: 700;
    font-size: 56px;

    /* line-height: 60px; */
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}
.main-button {
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: var(--iris);
}

/* Our Advantages */ 
.advantages-section {
    color: #434455;
width: 1128px;
    height: 104px;
}
.advantages-list {

}
.advantages-item {

}
.advantages-title {
font-family: var(--font-family);
font-weight: 500;
    font-size: 20px;
    color: #2e2f42;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.advantages-text {
font-family: var(--font-family);
font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* Our Team */
.team-section {
background-color: #f4f4fd;
line-height: 1.11
}
.team-title-middle {
    font-family: var(--font-family);
font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.team-list {

}
.team-item {

}
.team-title {
font-family: var(--font-family);
font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.team-text {
    color: #434455;
font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

/*Our Portfolio*/
.portfolio-section {
    color: #2e2f42;
    text-transform: capitalize;
line-height: 1.11
}
.portfolio-title-middle {
    color: #2e2f42;
font-family: var(--font-family);
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;

    /* line-height: 40px; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.portfolio-list {
}
.portfolio-item {
background-color: #FFFFFF;
}
.portfolio-title {
    text-transform: capitalize;
    font-family: var(--font-family);
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.portfolio-text {
    color: #434455;
    font-family: var(--font-family);
font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/*Footer*/
.footer {
width: 1440px;
    height: 312px;
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif;
    line-height: 1.17
}
.logo {
    color: #4d5ae5;
    font-family: var(--second-family);
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--iris);
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #f4f4fd;
    background: var(--navy-blue);
font-weight: 700;
    font-size: 18px;

    /* line-height: 21px; */
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}
.footer-text {
    color: #F4F4FD;
font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}